<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>>
</head>

<body>
    <div class="container">
        <form>
            <div class="row mb-3">
                <label for="nameTitle" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="title" class="form-control" id="nameTitle">
                </div>
            </div>
    </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">add</button>
    </form>
    </div>
</body>

</html>