<%- include('partials/header.ejs') %>
    <div class="card">
        <div class="card-header text-center">
            <h> Please Sign In</h>
        </div>
        <div class="card-body">
        </div>
        <div class="card-footer">
            <p>doesn't have an account? please <a href="register">register</a>!</p>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>