body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card-header h1 {
    background-color: rgb(248, 248, 248);
    color: black;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.inline-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.inline-form-group label {
    width: 150px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    flex: 1;
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.range-separator {
    margin: 0 5px;
}

button[type="submit"],
button[type="button"] {
    display: inline-block;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: rgb(16, 202, 240);
    width: 100px;
}

button[type="submit"]:hover {
    background-color: rgb(17, 181, 215);
}

button[type="button"] {
    background-color: rgb(255, 192, 7);
    width: 100px;
}

button[type="button"]:hover {
    background-color: rgb(240, 192, 5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    table-layout: fixed;
}

th,
td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    border-bottom: 2px solid #ddd;
}

th {
    background-color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dcddf8;
}

a {
    color: #653cfa;
    text-decoration: underline;
}

a.create-link {
    display: block;
    background-color: rgb(12, 109, 253);
    color: white;
    padding: 12px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

a.create-link:hover {
    background-color: rgb(20, 42, 243);
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pagination {
    display: flex;
    gap: 5px;
}

.pagination a {
    color: #007bff;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a.disabled {
    color: #777;
    pointer-events: none;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border: 1px solid #007bff;
}

.actions {
    display: flex;
    gap: 5px;
}

.delete-button,
.update-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}

.update-button {
    background-color: blue;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 6px;
    }

    .create-link,
    button[type="submit"],
    button[type="button"] {
        width: 80px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(6),
    td:nth-child(6) {
        display: none;
    }

    .actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .create-link,
    button[type="submit"],
    button[type="button"] {
        width: 70px;
        font-size: 12px;
        padding: 5px 8px;
    }
}